<html>
  <head>
    <link rel="stylesheet" href="/static/milligram.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/gif" href="/static/icons/group-button.png" />
    <title> Friends </title>
  </head>
  <body>
    <a class="button" href="/home"> Home </a>
    <a class="button" href="/friendgroups"> FriendGroups </a>
    <a class="button" href="/friends"> Friends </a>
    <a class="button" href="/myposts"> My Posts </a>
    <a class="button" href="/users"> Users </a>
    <a class="button" href="/logout">Logout</a>
    <br> <br> <br> <br>
    <p>Add a friend by adding them to one of your owned friendgroups!</p>
    <form  action="/add_friend" method="POST">
      <input type="text" name= "friendgroup" placeholder="Friendgroup you own" required/> <br>
      <input type="text" name = "first_name" placeholder="First name" required/> </br>
      <input type="text" name = "last_name" placeholder="Last name" required/> </br>
      <input type="submit" value = "Add Friend" />
      {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
      {% endif %}
    </form>


    <table>
      <th>Your Friends</th>
      <tr>
      <table>
        {% for line in urFriends %}
        <tr>
          <td> <b> {{ line.username }} </b> </td>
        </tr>
        {% endfor %}
      </table>
      </tr>
    </table>
    <hr>

    <div>Icons made by
      <a href="https://www.flaticon.com/authors/zurb" title="Zurb">Zurb</a> from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
      <a href="http://creativecommons.org/licenses/by/3.0/"
      title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
  </body>
</html>