<html>
<head>
	<link rel = "stylesheet" href="/static/milligram.css"/>
	<link rel = "stylesheet" href="/static/style.css"/>
	<link rel="icon" type="image/gif" href="/static/icons/group-button.png" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>



<a class="button" href="/home"> Home </a>
<a class="button" href="/messages"> Messages </a>
<a class="button" href="/friendgroups"> FriendGroups </a>
<a class="button" href="/friends"> Friends </a>
<a class="button" href="/myposts"> My Posts </a>
<a class="button" href="/users"> Users </a>
<a class="button" href="/logout">Logout</a>
<a class="button" href="/tags"> Tags </a>
<br> <br>
<h1>Welcome {{username}}</h1><hr>
<form action="/post" method="POST">
	<h4> Make a Post </h4>
	<input type="text" name = "title" placeholder="Title" required/> </br>
	<input type="text" name = "path" placeholder="link" required/> </br>
	<input type="radio" id = "public" name = "is_pub" value = "1" required/> Public </br>
	<input type="radio" id ="private" name = "is_pub" value = "0" required/> Private </br>
	<select id="friendgroup" name = "friendgroup" >
		{% for line in ownFG %}
			<option value={{line.group_name}}> {{line.group_name}} </option>
		{% endfor %}
	</select>

	<input type="submit" value = Post />
</form>

<table>
	<tr><td>
	<table>
	<th> Private </th>
	{% for line in posts %}
		<tr>
			<td>
				<a href=/posts/{{line.ID}} ><i>{{line.content_name}}</i></a><br>
				ID: {{line.ID}} <br>
				Posted By: <i> {{line.username}} </i> ({{line.group_name}})<br>
				{{line.timest}} <br>
				<form  action="/tagContent" method="POST">
					<input type="text" name = "tag" placeholder="username" required/> </br>
					<input type="submit" value = "Tag" />
				      {% if error %}
				        <p class="error"><strong>Error:</strong> {{error}}</p>
				      {% endif %}
				</form>
			</td>

		</tr>
	{% endfor %}
	</table>
	</td>
	<td>
	<table>
	<th> Public </th>
	{% for line in public %}
		<tr>
			<td>
				<a href=/posts/{{line.ID}} ><i>{{line.content_name}}</i> </a><br>
				ID: {{line.ID}} <br>
				Posted By: <i>{{line.username}} </i> <br>
				{{line.timest}} <br>
				<form  action="/tag" method="POST">
					<input type="text" name = "tag" placeholder="username" required/> </br>
					<input type="submit" value = "Tag" />
						{% if error %}
				        	<p class="error"><strong>Error:</strong> {{error}}</p>
				      	{% endif %}
				</form>
			</td>

		</tr>
	{% endfor %}
	</table>
	</td></tr>
</table>


<div>Icons made by
	<a href="https://www.flaticon.com/authors/zurb" title="Zurb">Zurb</a> from
	<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
	<a href="http://creativecommons.org/licenses/by/3.0/"
	title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>

	<script src="/static/js/revealform.js"> </script>


</body>


</html>
