<html>
  <head>
    <link rel="stylesheet" href="/static/milligram.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/gif" href="/static/icons/group-button.png" />
    <title> Messages </title>
  </head>
  <body>
    <a class="button" href="/home"> Home </a>
    <a class="button" href="/messages"> Messages </a>
    <a class="button" href="/friendgroups"> FriendGroups </a>
    <a class="button" href="/friends"> Friends </a>
    <a class="button" href="/managetags"> Manage Tags </a>
    <a class="button" href="/myposts"> My Posts </a>
    <a class="button" href="/users"> Users </a>
    <a class="button" href="/logout">Logout</a>
    <br> <br>
    <form action="/sendMessage" method="Post">
      <h3> Send a Message </h3>
      <select id="recipient" name = "recipient" >
    		{% for line in urFriends %}
    			<option value={{line.username}}> {{line.username}} </option>
    		{% endfor %}
    	</select>
      <input type="text" name = "message" placeholder="Message" required/> </br>
      <input type="submit" value="Send Message"> <br>
    </form>
    <table id="sent">
      <th>Sent</th>
      {%for line in sent %}
      <tr>
        <td>
          {{line.message}} <br> <b>Sent To: </b> {{line.recipient}} <br> {{line.timest}}
        </td>
     </tr>
     {% endfor %}
    </table>
    <table id="recieved">
      <th>Messages</th>
      {%for line in messages %}
      <tr>
        <td>
          {{line.message}} <br> <b>Sent By: </b> {{line.sender}} <br> {{line.timest}}
        </td>
     </tr>
     {% endfor %}
    </table>
    <hr>

    <div>Icons made by
    	<a href="https://www.flaticon.com/authors/zurb" title="Zurb">Zurb</a> from
    	<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
    	<a href="http://creativecommons.org/licenses/by/3.0/"
    	title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
  </body>
</html>
